@Viewpoint{
	zoom: 1.50;
	width: extend-to-zoom;
}

@-ms-viewpoint {
	width: extend-to-zoom;
	zoom: 1.0;
}

body {
background-image: url("/Work-Immersion-final-product/Images/Gallary_Main/background 2.jpg");
overflow-x: hidden;
width: 100%;
position: relative;
min-width: 100%;
background-color: #282828;
align-content: center;
display: inline-block;
font-family: 'Inconsolata', monospace;
}
header {
	color: white;
	list-style: none;
	font-weight: 900;
	list-style: none;
	list-style-type: none;
	background-color: #282828;
	position: relative;
	width: 100%;
	height: 200px;
}

header h1 {
	font-size: 80px;
}
.links {
	text-decoration: none;
	text-align: center;
	position: relative;
	left: 0%;
	font-size: 25px;
}
.navigationgal {
	text-decoration: none;
	color: #00d582;
	position: relative;

}
a.navigationgal:link{
  text-decoration: none;
  display: inline-block;
  color: #00d582;
  padding: 30px;
}
a.navigationgal:visited { 
 text-decoration: none;
 text-decoration: none;
  display: inline-block;
  color: #00d582;
  padding: 30px; 

}
a.navigationgal:hover {
 text-decoration: none;
  text-decoration: none;
 text-decoration: none;
  display: inline-block;
  color: #F56105;
  padding: 30px; 



}

section {
	display: inline-block;
	box-shadow: 2px 2px 2px 2px #000000;
	background-color: #282828;
	position: relative;
	top: 50px;
	width: 80%;
}

.pictures img {
	max-width: 100%;
	height: auto;
}

.videosection img {
	max-width: 100%;
	height: auto;
}

.back {
	max-width: 100%;
	height: auto;
}

.pics1 {
	position: relative;
	top: 30%;
	display: flex;
	width: 100%;
	min-width: 100%;


}
.pics1 img{
		width: 400px;
		height: 225px;
		padding: 10px; 
}

.pics2 {
	position: relative;
	top: 30%;
	display: flex;
	width: 100%;
	min-width: 100%;


}
.pics2 img{
		width: 400px;
		height: 357.60900952931px;
		padding: 10px;
}

.pics3 {
	position: relative;
	top: 30%;	
	display: flex;
	width: 100%;
	min-width: 100%;


}
.pics3 img{
		width: 400px;
		height: 300px;
		padding: 10px; 
}

.pics4 {
	position: relative;
	top: 30%;
	display: flex;
	width: 100%;
	min-width: 100%;


}
.pics4 img{
		width: 400px;
		height: 400px;
		padding: 10px; 
}

.pics5 {
	position: relative;
	top: 30%;	
	display: flex;
	width: 100%;
	min-width: 100%;


}
.pics5 img{
		width: 400px;
		height: 223.40683305064px;
		padding: 10px; 
}



footer {
	width: 100%;
	min-width: 100%;
}



.videos {
	display: flex;
	min-width: 100%;
	position: relative;
	left: -0.5%;
}
.videos2 {
	display: flex;
	min-width: 100%;
	position: relative;
	left: -0.5%;
}
.videos3 {
	display: flex;
	min-width: 100%;
	position: relative;
	left: -0.5%;
}
.videos4 {
	display: flex;
	min-width: 100%;
	position: relative;
	left: -0.5%;
}

.footages img {
	width: 600px;
	height: 337.5px;
	padding: 18px;
}

.footages img:Hover {
 filter: brightness(10%);
}

.button {
	position: absolute;
	left: 20%;
	top: 30%;

}
.button img {
		width: 100px;
	height: 100px;
}

.button2 {
	position: absolute;
	left: 70%;
	top: 30%;

}
.button2 img {
		width: 100px;
	height: 100px;

}


/* This is where the flippin effect */

.card {
	transform: translate(-0%,-0%);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
	position: relative;
}

.card .front {
	 position: relative;
	 top: 0;
	 left: 0;
	 backface-visibility: hidden;
	 transform: rotateX(0deg);
	 transition: 0.5s;
}

.card:hover .front {
	transform: rotateX(+180deg);
}

.card .back {
		 width: 400px;
	 height: 225px;
	 position: absolute;
	 top: -0.1%;
	 left: 2%;
	 backface-visibility: hidden;
	 transform: rotateX(180deg);
	 transition: 0.5s;
	 background-color: #F56105;
	 box-shadow: 10px 10px 10px 10px #000000;
	 font-size: 15px;

}

.card:hover .back {
	transform: rotateX(0deg);
}



.card2 {
	transform: translate(-0%,-0%);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
	position: relative;
}

.card2 .front {
	 position: relative;
	 top: 0;
	 left: 0;
	 backface-visibility: hidden;
	 transform: rotateX(0deg);
	 transition: 0.5s;
}

.card2:hover .front {
	transform: rotateX(+180deg);
}

.card2 .back {
	width: 400px;
	height: 357.60900952931px;
	 position: absolute;
	 top: -0.1%;
	 left: 2%;
	 backface-visibility: hidden;
	 transform: rotateX(180deg);
	 transition: 0.5s;
	 background-color: #F56105;
	 box-shadow: 10px 10px 10px 10px #000000;
	 font-size: 15px;

}

.card2:hover .back {
	transform: rotateX(0deg);
}


.card3 {
	transform: translate(-0%,-0%);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
	position: relative;
}

.card3 .front {
	 position: relative;
	 top: 0;
	 left: 0;
	 backface-visibility: hidden;
	 transform: rotateX(0deg);
	 transition: 0.5s;
}

.card3:hover .front {
	transform: rotateX(+180deg);
}

.card3 .back {
	width: 400px;
		height: 300px;
	 position: absolute;
	 top: -0.1%;
	 left: 2%;
	 backface-visibility: hidden;
	 transform: rotateX(180deg);
	 transition: 0.5s;
	 background-color: #F56105;
	 box-shadow: 10px 10px 10px 10px #000000;
	 font-size: 15px;

}

.card3:hover .back {
	transform: rotateX(0deg);
}



.card4 {
	transform: translate(-0%,-0%);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
	position: relative;
}

.card4 .front {
	 position: relative;
	 top: 0;
	 left: 0;
	 backface-visibility: hidden;
	 transform: rotateX(0deg);
	 transition: 0.5s;
}

.card4:hover .front {
	transform: rotateX(+180deg);
}

.card4 .back {
	width: 400px;
		height: 400px;
	 position: absolute;
	 top: -0.1%;
	 left: 2%;
	 backface-visibility: hidden;
	 transform: rotateX(180deg);
	 transition: 0.5s;
	 background-color: #F56105;
	 box-shadow: 10px 10px 10px 10px #000000;
	 font-size: 15px;

}

.card4:hover .back {
	transform: rotateX(0deg);
}


.card5 {
	transform: translate(-0%,-0%);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
	position: relative;
}

.card5 .front {
	 position: relative;
	 top: 0;
	 left: 0;
	 backface-visibility: hidden;
	 transform: rotateX(0deg);
	 transition: 0.5s;
}

.card5:hover .front {
	transform: rotateX(+180deg);
}

.card5 .back {
	width: 400px;
		height: 223.40683305064px;
	 position: absolute;
	 top: -0.1%;
	 left: 2%;
	 backface-visibility: hidden;
	 transform: rotateX(180deg);
	 transition: 0.5s;
	 background-color: #F56105;
	 box-shadow: 10px 10px 10px 10px #000000;
	 font-size: 15px;

}

.card5:hover .back {
	transform: rotateX(0deg);
}


::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #282828;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #F56105;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #f58d05;
  }
@media (max-width: 768px) {
	section {
		max-width: 768px;
	}
	.pictures img {
		width: 90%;
		height: auto;
	}


	.links {
		display: flex;
		flex-direction: column;
		position: relative;
		left: -1%;
	}
	.pics1 {
				display: flex;
	flex-direction: column;
	}




	.pics2 {
				display: flex;
	flex-direction: column;
	}

	.card2 {
		position: relative;
		display: flex;
	flex-direction: column;
	left: 0%;
	}

	.pics3 {
	display: flex;
	flex-direction: column;
	}

	.card3 {
		position: relative;
		display: flex;
	flex-direction: column;
	left: 0%;
	}

	.pics4 {
	display: flex;
	flex-direction: column;
	}

	.card4 {
		position: relative;
		display: flex;
	flex-direction: column;
	left: 0%;
	}

	.pics5 {
	display: flex;
	flex-direction: column;
	}

	.card5 {
		position: relative;
		display: flex;
	flex-direction: column;
	left: 0%;
	}

	.videosection {
		display: flex;
		flex-direction: column;
		position: relative;
	}

		.videos {
		display: flex;
		flex-direction: column;
		position: relative;
	}

			.videos2 {
		display: flex;
		flex-direction: column;
		position: relative;
	}
		.videos3 {
		display: flex;
		flex-direction: column;
		position: relative;
	}
		.videos4 {
		display: flex;
		flex-direction: column;
		position: relative;
	}


	.footages img {		
		position: relative;
		width: 80%;

	}

	.button {
	position: absolute;
	left: 40%;
	top: 65%;
	z-index: 500;

}
.button img {
		width: 100px;
	height: 100px;
}

.button2 {
	position: absolute;
	left: 40%;
	top: 18%;

}
.button2 img {
		width: 100px;
	height: 100px;

}
.back {
	text-align: center;
	justify-content: center;
}
.card .back {
	position: absolute;
	left: 5%;
	width: 90%;
	height: 25vh;
}

.card .back h2 {
	position: absolute;
	top:30%;
	justify-content: center;
}

.card2 .back {
	position: absolute;
	left: 5%;
	width: 90%;
	height: 40vh;
}
.card2 .back h2 {
	position: absolute;
	top:20%;
	justify-content: center;
}
.card3 .back {
	position: absolute;
	left: 5%;
	width: 85%;
	height: 30vh;
}

.card3 .back h2 {
	position: absolute;
	top:10%;
	justify-content: center;
}
.card4 .back {
	position: absolute;
	left: 5%;
	width: 90%;
	height: 40vh;
}

.card4 .back h2 {
	position: absolute;
	top:20%;
	justify-content: center;
}

.card5 .back {
	position: absolute;
	left: 5%;
	width: 90%;
	height: 25vh;
}
}

