<!DOCTYPE html>
<html>
<head>
	<title>Contact Me</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Used adjust the scale on different devices -->

	<!--This is used in connecting a link-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="https://nigelhaim.github.io/Work-Immersion-final-product/flask_contactme/templates/Contactme_1.css">

	<link rel="stylesheet" type="text/css" href="https://nigelhaim.github.io/Work-Immersion-final-product/CSSFile/topnavigation.css">

	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="navcontainer">
		<nav class="navigationbar">
			<img src="https://nigelhaim.github.io/Work-Immersion-final-product/Images/Magnet.png" class="logo">
			<div class="nav-toggle" id="mobile-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<ul class="nav-menu">
				<li><a href="https://nigelhaim.github.io/Work-Immersion-final-product/index.html" class="nav-links">Home</a></li>
				<li><a href="https://nigelhaim.github.io/Work-Immersion-final-product/aboutme.html" class="nav-links">About me</a></li>
				<li><a href="https://nigelhaim.github.io/Work-Immersion-final-product/contactme.html" class="nav-links">Contact me</a></li>
				<li><a href="https://cs50.harvard.edu/college/2021/fall/" class="nav-links"><img src="https://nigelhaim.github.io/Work-Immersion-final-product/Images/Harvard-Logo.png"></a></li>
			</ul>
		</nav>
	</div>
			
<section class="contact">
	<ul>
		<li>
			<a href="https://www.facebook.com/NigelNSebastian/">
			
			
				<span></span>
				<span></span>
				<span></span>
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>

		</li>

		<li>
			<a href="https://mail.google.com/mail/u/0/#inbox?compose=new">
		
				<span></span>
				<span></span>
				<span></span>
				<i class="fa fa-envelope" aria-hidden="true"></i>
			</a>
		</li>

		<li>
			<a href="https://www.instagram.com/nigelhaim/">
				
				<span></span>
				<span></span>
				<span></span>
				<i class="fa fa-instagram" aria-hidden="true"></i>
			</a>
		</li>

		<li>
			<a href="https://www.youtube.com/channel/UCAip85WSH-C0hFH0lPLNfmQ">
			</i>
				
				<span></span>
				<span></span>
				<span></span>
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
			</a>
		</li>
	</ul>


</section>
<form action="/form" method="POST">
	<div class="form-form">
		<div class="Form_1">
			<div class="contact-form">
				<div class="input-fields">
					<input type="text" class="input" placeholder="First Name" size="70" name="First_name">
					<input type="text" class="input" placeholder="Last Name" size="70" name="Last_name">
					<input type="text" class="input" placeholder="Email Address" size="70" name="Email">
				</div>
				<div class="msg">
					<textarea placeholder="Message" size="70" width= "80" name="message_1"></textarea>
					<center>
					<input type="submit" class="btn">
					</center>
				</div>
			</div>
		</div>
	</div>
</form>
<script src="https://nigelhaim.github.io/Work-Immersion-final-product/JSFile/topnav.js"></script>
</body>
</html>

	
