<!DOCTYPE html>
<html>
<head>
	<title>Contact Me</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Used adjust the scale on different devices -->

	<!--This is used in connecting a link-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="https://nigelhaim.github.io/Work-Immersion-final-product/flask_contactme/templates/Contactme_1.css">

	<link rel="stylesheet" type="text/css" href="https://nigelhaim.github.io/Work-Immersion-final-product/CSSFile/topnavigation.css">

	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
	<div class="navcontainer">
		<nav class="navigationbar">
			<img src="https://nigelhaim.github.io/Work-Immersion-final-product/Images/Magnet.png" class="logo">
			<div class="nav-toggle" id="mobile-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<ul class="nav-menu">
				<li><a href="https://nigelhaim.github.io/Work-Immersion-final-product/index.html" class="nav-links">Home</a></li>
				<li><a href="https://nigelhaim.github.io/Work-Immersion-final-product/aboutme.html" class="nav-links">About me</a></li>
				<li><a href="https://nigelhaim.github.io/Work-Immersion-final-product/contactme.html" class="nav-links">Contact me</a></li>
				<li><a href="https://cs50.harvard.edu/college/2021/fall/" class="nav-links"><img src="https://nigelhaim.github.io/Work-Immersion-final-product/Images/Harvard-Logo.png"></a></li>
			</ul>
		</nav>
	</div>
	<br>
	<br>		
	<br>
	<br>
	<br>
	<br>
	<br><br>
	<br>
	<br>

<div>
	<center><h1 style="color: rgb(255, 94, 0); font-weight: bolder;">MESSAGE SENT! THANK YOU! :)</h1></center>
</div>
<script src="https://nigelhaim.github.io/Work-Immersion-final-product/JSFile/topnav.js"></script>
</body>
</html>

	
